.photo-grid {
    display: grid;
    display: -ms-grid;
    grid-template-rows: repeat(12, auto);
    width: calc(100% - (2*16px));
    gap: 12px;
    margin: 0 auto 64px auto;
    }

    @media screen and (min-width: 768px) {
        .photo-grid{
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(6, auto);
            gap: 16px;
            margin: 0 auto 88px auto;
            width: calc(100% - (2*24px));
        } 
    }

    @media screen and (min-width: 1024px) {
        .photo-grid{
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4, auto);
            gap: 14px;
            margin: 0 auto 92px auto;
            width: calc(100% - (2*48px));
        } 
    }

    @media screen and (min-width: 1280px) {
        .photo-grid{
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, auto);
            gap: 16px;
            max-width: 1184px;
        } 
    }