.intro__paragraf {
    margin-bottom: 34px;
}

@media screen and (min-width: 768px) {
    .intro__paragraf {
        margin-bottom: 33px;
        width: calc(100% - (2*24px));
    }
}

@media screen and (min-width: 1024px) {
    .intro__paragraf {
        max-width: 690px;
        margin-left: 48px;
    }
}

@media screen and (min-width: 1280px) {
    .intro__paragraf {
        max-width: 690px;
        margin-left: 148px;
    }
}