.lead__title {
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    display: flex;
    justify-content: center;
    max-width: calc(100% - (16px*2));
    margin: 0 auto 16px auto;
}

@media screen and (min-width: 768px) {
    .lead__title {
        font-size: 96px;
        line-height: 100px;
    }
}