.lead__title {
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    display: flex;
    justify-content: center;
    max-width: calc(100% - (16px*2));
    margin: 0 auto 16px auto;
}