.cover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
            flex-direction: column;
    background-image: url('../../images/cover-background.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 64px;
    
}

@media screen and (min-width: 768px) {
    .cover {
        margin-bottom: 88px;
    }
}

@media screen and (min-width: 1024px) {
    .cover {
        margin-bottom: 92px;
    }
}

@media screen and (min-width: 1280px) {
    .cover {
        margin: 0 auto 92px auto;
        max-width: 1184px;
}
}