.place {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
            flex-direction: column;
    
}

@media screen and (min-width: 768px) {
    .place {
        display: grid;
        display: -ms-grid;
        grid-template-columns: minmax(340px, 440px) minmax(352px, 456px);
        grid-template-rows: auto auto;
        row-gap: 48px;
        column-gap: 28px;
        justify-items: start;
        width: 100%;

    }
}

@media screen and (min-width: 1024px) {
    .place {
        grid-template-columns: minmax(440px, 460px) minmax(456px, 484px);
        column-gap:32px;
        }
}

@media screen and (min-width: 1280px) {
    .place {
        column-gap:40px;
        }
}