.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
            justify-content: space-between;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: 16px;
    margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
    .footer {
     flex-direction: row;
     margin: 0 auto 24px auto;
     width: calc(100% - (2*24px));
}
}

@media screen and (min-width: 1024px) {
    .footer {
     
     margin: 0 auto 24px auto;
     width: calc(100% - (2*48px));
}
}