.intro__title {
    margin: 0 auto 40px 16px;
    font-weight: 900;
}

@media screen and (min-width: 768px) {
    .intro__title {
        font-size: 54px;
        line-height: 58px;
        width: calc(100% - (2*24px));
        margin: 0 auto 40px auto;
    }
}

@media screen and (min-width: 1024px) {
    .intro__title {
        width: calc(100% - (2*48px));
    }
}

@media screen and (min-width: 1280px) {
    .intro__title {
        width: 984px;        
    }
}